@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

* { box-sizing: border-box; }

body {
	font-family: 'Oxygen', 'sans-serif';
	width: 100%;
}

h1, h2 {
	font-family: 'Montserrat', 'sans-serif';
	text-align:center;
}

.qdetails_info_section {
	border: 1px solid blue;
	width: 39%;
	display: inline-block;
	vertical-align: top;
	margin: 20px 5%;
}

button {
	text-align: center;
	margin: auto;
	width: 20%;
	height: 30px;
}

.switch_view_button {
	text-align: center;
}

button > a {
	text-decoration: none;
	color: black;
}

.qtable_skills > th > img {
	margin: 2%;
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: center;
}

.qtable_all {
	width: 100%;
	padding: 1%;
	text-align:center;
}

.qtable {
	border: 1px solid black;
	border-collapse: collapse;
}

.qtable_skills > th {
	border: 1px solid black;
}

.qtable_skills > .wide {
	width: 12%;
	border: 1px solid blue;
}
