<!doctype html>

<html>
<head>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
	<link href="{{url_for('static', filename='style.css')}}" rel = "stylesheet" type="text/css" />
</head>

<body>
	<h1> {{ quest_info["name"] }} </h1>

	<div class="switch_view_button">
		<button type="switch_views"> Switch View! </button>
		<br>
	</div>

	<div class="qdetails_info_section">
		<h2> General Information </h2>

		<table class="start_info">
			<tr class="qdetails_info_row"> 
				<td class="qdetails_question"> Free? </td>
				<td class="qdetails_answer"> {{ quest_info["free?"] }} </td>
			</tr>
			<tr class="qdetails_info_row">
				<td class="qdetails_question"> Age </td>
				<td class="qdetails_answer"> {{ quest_info["age"] }} </td>
			</tr>
			<tr class="qdetails_info_row">
				<td class="qdetails_question"> Difficulty </td>
				<td class="qdetails_answer"> {{ quest_info["difficulty"] }} </td>
			</tr>
			<tr class="qdetails_info_row">
				<td class="qdetails_question"> Length </td>
				<td class="qdetials_answer"> {{ quest_info["length"] }} </td>
			</tr>
			<tr class="qdetails_info_row">
				<td class="qdetails_question"> Quest Points Received </td>
				<td class="qdetails_answer"> {{ quest_info["quest points"] }} </td>
			</tr>
		</table>
	</div>

	<div class="qdetails_info_section">
		<h2> Skills Needed </h2>
		<table class="qdetails_skill">
			<tr class="qdetails_skill_row">
				<th> Skill </th>
				<th> Level </th>
			</tr>
			{% for skill in quest_info["skills"] %}
				<tr class="qdetails_skill_row">
					<td class="qdetails_skill"> {{ skill[0] }} </td>
					<td class="qdetails_level"> {{ skill[1] }} </td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<div class="qdetails_info_section">
		<h2> Required Quests </h2>
		<ul class="qdetails_req_quests">
			{% for quest in quest_info["pre quests"] %}
				<li> {{ quest }} </li>
			{% endfor %}
		</ul>
	</div>

	<div class="qdetails_info_section">
		<h2> Other Requirements </h2>
		<ul class="qdetails_other_requirements">
			{% for req in quest_info["other requirements"] %}
				<li> {{ req }} </li>
			{% endfor %}
		</ul>
	</div>

	<div class="qdetails_info_section">
		<h2> Quest Series </h2>
		<ul class="qdetails_quest_series">
			{% for series in quest_info["quest series"] %}
			<li>{{ series }} </li>
			{% endfor %}
		</ul>
		<h3> Related Quest Series </h3>
		<ul class="qdetails_quest_series">
			{% for series in quest_info["related quests"] %}
			<li> {{ series }} </li>
			{% endfor %}
		</ul>
	</div>

</body>
</html>
