<!doctype html>

<html>
<head>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
	<link href="{{url_for('static', filename='style.css')}}" rel = "stylesheet" type="text/css" />
</head>

<body>
	<h1> {{ all_quests[0]["name"] }} </h1>

	<div class="switch_view_button">
		<button type="button" method="post"> 
			<a href="{{url_for('view_quest', quest_name=all_quests[0]['name'])}}">
			Switch to quest details view!
			</a>
		</button>
		<br>
	</div>

	<div class="qtable_all">
		<table class="qtable">
			<tr class="qtable_skills">
				<th class="wide"> Quest </th>
				<th class="wide"> Parent Quest </th>
				<th> <img src="/static/images/agility.png" 
					  	  alt="Agility"> </th>
				<th> <img src="/static/images/attack.png"
						  alt="Attack"> </th>
				<th> <img src="/static/images/constitution.png" 
			  			  alt="Constitution"> </th>
				<th> <img src="/static/images/construction.png"
			  			  alt="Construction"> </th>
				<th> <img src="/static/images/cooking.png"
						  alt="Cooking"> </th>
				<th> <img src="/static/images/crafting.png"
			  			  alt="Crafting"> </th>
				<th> <img src="/static/images/defence.png"
			  			  alt="Defence"> </th>
				<th> <img src="/static/images/divination.png"
			  			  alt="Divination"> </th>
				<th> <img src="/static/images/dungeoneering.png"
			  			  alt="Dungeoneering"> </th>
				<th> <img src="/static/images/farming.png"
			  			  alt="Farming"> </th>
				<th> <img src="/static/images/firemaking.png"
			  			  alt="Firemaking"> </th>
				<th> <img src="/static/images/fishing.png"
			  			  alt="Fishing"> </th>
				<th> <img src="/static/images/fletching.png"
			  			  alt="Fletching"> </th>
				<th> <img src="/static/images/herblore.png"
			  			  alt="Herblore"> </th>
				<th> <img src="/static/images/hunter.png"
			  			  alt="Hunter"> </th>
				<th> <img src="/static/images/magic.png"
			  			  alt="Magic"> </th>
				<th> <img src="/static/images/mining.png"
			  			  alt="Mining"> </th>
				<th> <img src="/static/images/prayer.png"
			  			  alt="Prayer"> </th>
				<th> <img src="/static/images/ranged.png"
			  			  alt="Ranged"> </th>
				<th> <img src="/static/images/runecrafting.png"
			  			  alt="Runecrafting"> </th>
				<th> <img src="/static/images/slayer.png"
			  			  alt="Slayer"> </th>
				<th> <img src="/static/images/smithing.png"
			  			  alt="Smithing"> </th>
				<th> <img src="/static/images/strength.png"
			  			  alt="Strength"> </th>
				<th> <img src="/static/images/summoning.png"
			  			  alt="Summoning"> </th>
				<th> <img src="/static/images/thieving.png"
			  			  alt="Thieving"> </th>
				<th> <img src="/static/images/woodcutting.png"
			  			  alt="Woodcutting"> </th>
				<th class="wide"> Other Requirements </th>
			</tr>
			{% for quest in all_quests %}
			<tr class="qtable_quest_row">
				<td class="wide"> 
					<a href="{{url_for('view_quest', quest_name=quest['name'])}}">
						{{ quest["name"] }} 
					</a>
				</td>
				<td class="wide"> {{ quest["parent quest"] }} </td>
				<td> {{ quest["Agility"] }} </td>
				<td> {{ quest["Attack"] }} </td>
				<td> {{ quest["Constitution"] }} </td>
				<td> {{ quest["Construction"] }} </td>
				<td> {{ quest["Cooking"] }} </td>
				<td> {{ quest["Crafting"] }} </td>
				<td> {{ quest["Defence"] }} </td>
				<td> {{ quest["Divination"] }} </td>
				<td> {{ quest["Dungeoneering"] }} </td>
				<td> {{ quest["Farming"] }} </td>
				<td> {{ quest["Firemaking"] }} </td>
				<td> {{ quest["Fishing"] }} </td>
				<td> {{ quest["Fletching"] }} </td>
				<td> {{ quest["Herblore"] }} </td>
				<td> {{ quest["Hunter"] }} </td>
				<td> {{ quest["Magic"] }} </td>
				<td> {{ quest["Mining"] }} </td>
				<td> {{ quest["Prayer"] }} </td>
				<td> {{ quest["Ranged"] }} </td>
				<td> {{ quest["Runecrafting"] }} </td>
				<td> {{ quest["Slayer"] }} </td>
				<td> {{ quest["Smithing"] }} </td>
				<td> {{ quest["Strength"] }} </td>
				<td> {{ quest["Summoning"] }} </td>
				<td> {{ quest["Thieving"] }} </td>
				<td> {{ quest["Woodcutting"] }} </td>
				<td class="wide">
					<ul class="qtable_other_requirements">
					{% for req in quest["other requirements"] %}
						<li> {{ req }} </li>
					{% endfor %}
					</ul>
			</tr>
			{% endfor %}
		</table>
</body>
</html>
